header {
    width: 980px;
    margin: auto;
}

.caixa {
    width: 800px;
    margin: auto;
    position: relative;
    border: 3px solid black;
    border-radius: 20px;
}

#banner {
    width: 300px;
}

nav {
    display: inline-block;
    position: absolute;
    top: 100px;
    right: 20px;
}


nav ul li {
    display: inline;
    padding: 5px;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    border: 2px solid black;
    padding: 5px;
    border-radius: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul li a:hover {
    transition: 0.5s;
    text-decoration: underline;
    font-size: 20px;
    color: black;
    border: 2px solid black;
    padding: 5px;
    border-radius: 3px;
    font-weight: bold;
    text-transform: uppercase;
}

main {
    width: 800px;
    margin: auto;
}

#bandeira {
    width: 100%;
    margin-top: 100px;
}
Footer
