header {
    width: 700px;
    margin: auto;
}

img {
    width: 700px;
}

.titulo {
    width: 230px;
    margin: auto;
}

h1 {
    display: inline;
    text-align: center;
    background: #cccccc;
}